@import url("https://fonts.googleapis.com/css2?family=Skranji&display=swap");
*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(255, 241, 215);
}
.bgcatname{
  position:absolute;
  height: 400px;
  margin-left: 35%;
}
.mycat-name{
  position: absolute;
  height: 40px;
  margin-left: 22%;
  margin-top: 9px;
}
.text-name{
  font-family: Skranji;
  font-size: 17px;
  position: absolute;
  margin-left: 26%;
  margin-top: 19px;
}
#gobtn{
  position: absolute;
  height: 70px;
  margin-top: 35%;
  margin-left: 42%;
  cursor: pointer;
}
.inptcatname{
  position:absolute;
  margin-top: 20%;
  margin-left: 39%;
  border: none;
  height: 40px;
  text-align: center;
  font-family: skranji;
  font-size: 18px;
  border-radius: 20px;
  color: #7812b3;
  outline: none;
}
.logo{
    height: 300px;
    margin-left: 370px;
    
}
.start{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
}
#play{
height: 100px;

}
.baground{
    position: absolute;
    height: 420px;
    margin-left: 21%;
    border-radius: 20px;
}
.hello-cat{
    height: 170px;
    position: absolute;
    margin-left:22% ;
    margin-top:20%;

}
.sushi{
    height: 40px;

}
.eat-button{
    margin-top: 39%;
    margin-left: 38%;
    background: #d6c3c3;
    border: none;
    cursor: pointer;
}

.progress-hungry {
    position:absolute;
    margin-top: 15px;
    margin-left: 40%;
    background-color: #b3b3b3;
    height: 15px;
    width: 150px;
    border-radius: 10px;
  }

  .progress-hungry span {
    display: inline-block;
    height: 100%;
    border-radius: 10px;
    
  }
  .red span {
    background-color: #eb2782;
  }
  .heart-life{
    height: 40px;
    position: absolute;
    margin-left: 38%;
    margin-top: 4px;
  }
  .progress-play {
    position:absolute;
    margin-top: 58px;
    margin-left: 41%;
    background-color: #b3b3b3;
    height: 15px;
    width: 150px;
    border-radius: 10px;
  }

  .progress-play span {
    display: inline-block;
    height: 100%;
    border-radius: 10px;
    
  }
  .blue span {
    background-color: #455eee;
  }
.playwithme{
    height: 38px;
    position:absolute;
    margin-left: 39%;
    margin-top: 46px;
}
.msg-hungry{
    position: absolute;
    height: 50px;
    margin-top: 38.4%;
    margin-left:30% ;
    border-radius: 20px;
    cursor: pointer;
}
.msg-play{
  position: absolute;
    height: 50px;
    margin-top: 38.4%;
    margin-left:30% ;
    border-radius: 20px;
    cursor: pointer;
}